.moviCard {
  border-radius: 5px;
  background-color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  -webkit-box-shadow: 1px 1px 13px 3px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 1px 1px 13px 3px rgba(34, 60, 80, 0.2);
  box-shadow: 1px 1px 13px 3px rgba(34, 60, 80, 0.2);

  margin-bottom: 20px;
  margin-left: 30px;
  padding: 30px;
}
.moviCard__picture {
  border-radius: 5px 5px 0 0;
  width: 280px;
}
.moviCard__title {
  text-transform: uppercase;
  font-size: 32px;
}
.moviCard__fetures {
  color: orange;
  display: block;
  font-size: 20px;
}
.moviCard__rectangle {
  width: 36px;
  height: 16px;
  background-color: orange;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-top: 1px;
  margin-left: 10px;
}
.moviCard__feturesBox {
  text-align: left;
  margin: 30px;
}

.span {
  margin-right: 20px;
  color: #000;
  display: inline-block;
  width: 170px;
}

.button {
  width: 150px;
  height: 40px;
  display: block;
  background-color: rgb(245, 207, 137);
  border-radius: 10px;
  cursor: pointer;
  margin-left: 300px;
  font-size: 20px;
}

.button:hover {
  background-color: orange;
}