.button {
  width: 80px;
  height: 30px;
  display: block;
  background-color: rgb(245, 207, 137);
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: orange;
}

.main {
  font-size: 10px;
}

.main:hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (min-width: 900px) {
  .main {
    font-size: 15px;
  }
}


.onMouseEnter:hover {
  background-color: rgb(194, 169, 123);
}

