.button {
  width: 80px;
  height: 30px;
  display: block;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: orange;
}

.main {
  font-size: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.main:not(:first-child):not(:nth-child(6)):not(:last-child):hover {
  cursor: pointer;
  transform: scale(1.2);
}

@media screen and (min-width: 900px) {
  .main {
    font-size: 15px;
  }
}

.onMouseEnter:hover {
  background-color: rgb(194, 169, 123);
}

.button_details {
  background-color: #0095ff;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button_details:hover,
.button_details:focus {
  background-color: #07c;
}

.button_details:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button_details:active {
  background-color: #0064bd;
  box-shadow: none;
}

.button_action {
  background: linear-gradient(to bottom right, #ef4765, #ff9a5a);
  border: 0;
  border-radius: 12px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.button_action:not([disabled]):focus {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.button_action:not([disabled]):hover {
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5),
    -0.125rem -0.125rem 1rem rgba(239, 71, 101, 0.5),
    0.125rem 0.125rem 1rem rgba(255, 154, 90, 0.5);
}

.rwd_table {
  margin: auto;
  margin-bottom: 3rem;
  max-width: 98%;
}

.rwd_table td {
}

.filter_input {
  font-size: 20px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  border: 1px solid #f0f0f0;
  padding: 3px;
  border-radius: 10px;
}

.priority_score {
  background: #f6f1d1;
}

.header_row {
  background: #cfd7c7;
}
